<p-progressSpinner *ngIf="loading" ariaLabel="loading"></p-progressSpinner>
<div *ngIf="!loading">
    <div class="row flex">
        <div class="col-6">
            <p-table 
                #dt1
                [value]="parents" 
                [scrollable]="true" 
                scrollHeight="300px" 
                [tableStyle]="{'min-width': '20rem'}">
                    <ng-template pTemplate="caption">
                        <div class="flex">
                            <p-button label="Clear" [outlined]="true" icon="pi pi-filter-slash" (click)="clear(dt1)" />
                        </div>
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr>
                            <th></th>
                            <th>
                                <div class="flex align-items-center">
                                    Desc
                                    <p-columnFilter type="text" field="description" display="menu" />
                                </div>
                            </th>
                            <th>
                                Sport
                            </th>
                            <th>
                                SB
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-parent>
                        <tr>
                            <td><p-button [disabled]="linking || (selectedParent.length > 0 && selectedParent[0].id == parent.id)" (click)="pickParent(parent)" label="Pick" styleClass="p-button-success"></p-button></td>
                            <td>{{parent.description}}</td>
                            <td><img src="{{getSportImageRoute(parent.sport_id)}}" alt="{{parent.sport_id}}" width="50px" height="20px"></td>
                            <td><img src="{{getSbImageRoute(parent.sportsbook_id)}}" alt="{{parent.sportsbook_id}}" width="50px" height="20px"></td>
                        </tr>
                    </ng-template>
            </p-table>
        </div>
        <div class="col-6">
            <br>
            <p-table 
                #dt2
                [value]="opportunities" 
                [scrollable]="true" 
                scrollHeight="300px" 
                [tableStyle]="{'min-width': '20rem'}">
                    <ng-template pTemplate="caption">
                        <div class="flex">
                            <p-button label="Clear" [outlined]="true" icon="pi pi-filter-slash" (click)="clear(dt2)" />
                        </div>
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr>
                            <th></th>
                            <th>
                                <div class="flex align-items-center">
                                    Desc
                                    <p-columnFilter type="text" field="description" display="menu" />
                                </div>
                            </th>
                            <th>
                                Sport
                            </th>
                            <th>
                                SB
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-opp>
                        <tr>
                            <td><p-button [disabled]="linking || (selectedOpp.length > 0 && selectedOpp[0].id == opp.id)" (click)="pickOpportunity(opp)" label="Pick" styleClass="p-button-success"></p-button></td>
                            <td>{{opp.description}}</td>
                            <td><img src="{{getSportImageRoute(opp.sport_id)}}" alt="{{opp.sport_id}}" width="50px" height="20px"></td>
                            <td><img src="{{getSbImageRoute(opp.sportsbook_id)}}" alt="{{opp.sportsbook_id}}" width="50px" height="20px"></td>
                        </tr>
                    </ng-template>
            </p-table>
        </div>
    </div>
    <br>
    <div class="row flex">
        <div class="col-5">
            <div class="card">
                <p-table 
                [value]="selectedParent" 
                [tableStyle]="{'min-width': '25rem'}">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>ID</th>
                            <th>Desc</th>
                            <th>Sport</th>
                            <th>SB</th>
                            <th>Market Id</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-opp>
                        <tr>
                            <td>{{opp.id}}</td>
                            <td>{{opp.description}}</td>
                            <td><img src="{{getSportImageRoute(opp.sport_id)}}" alt="{{opp.sport_id}}" width="50px" height="20px"></td>
                            <td><img src="{{getSbImageRoute(opp.sportsbook_id)}}" alt="{{opp.sportsbook_id}}" width="50px" height="20px"></td>
                            <td>{{opp.market_id}}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
        <div class="col-2 button_div">
            <p-button (click)="addChild()" [disabled]="linking || !canLinkChild" label="Add child" styleClass="p-button-success"></p-button>
        </div>
        <div class="col-5">
            <div class="card">
                <p-table 
                [value]="selectedOpp" 
                [tableStyle]="{'min-width': '25rem'}">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>ID</th>
                            <th>Desc</th>
                            <th>Sport</th>
                            <th>SB</th>
                            <th>Market Id</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-opp>
                        <tr>
                            <td>{{opp.id}}</td>
                            <td>{{opp.description}}</td>
                            <td><img src="{{getSportImageRoute(opp.sport_id)}}" alt="{{opp.sport_id}}" width="50px" height="20px"></td>
                            <td><img src="{{getSbImageRoute(opp.sportsbook_id)}}" alt="{{opp.sportsbook_id}}" width="50px" height="20px"></td>
                            <td>{{opp.market_id}}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>
</div>
<p-toast></p-toast>