<p-progressSpinner *ngIf="loading" ariaLabel="loading"></p-progressSpinner>
<div class="flex">
    <div *ngFor="let sbId of sportbookIds()" class="ml-5">
        <div>
            <img src="{{getSbImageRoute(sbId)}}" alt="{{sbId}}" width="50px" height="20px">
        </div>
        <div class="flex">
            <input type="text" pInputText [(ngModel)]="newMarketName[sbId]" />
            <span>&nbsp;</span>
            <p-button [disabled]="updating" (click)="addMarket(newMarketName[sbId], sbId)" label="Add" />
        </div>
        <p-table [value]="markets_dict[sbId]">
            <ng-template pTemplate="header">
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-market>
                <tr>
                    <td>{{ market.id }}</td>
                    <td>{{ market.value }}</td>
                    <td>
                        <p-button icon="pi pi-trash" [disabled]="updating" (click)="removeMarket(market.id, sbId)" severity="danger" />
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
<p-toast></p-toast>