<div *ngIf="!isLoggedIn()" class="card">
    <input type="text" pInputText [(ngModel)]="inputUrlSegment" />
    <span>&nbsp;</span>
    <p-button (click)="setUrl()" label="Set url" severity="success" styleClass="p-button-success"></p-button>
    <br>
    <br>
    <span class="p-float-label">
        <input pInputText id="username" [(ngModel)]="userName" />
        <label htmlFor="username">Username</label>
    </span>
    <br>
    <br>
    <span class="p-float-label">
        <p-password [(ngModel)]="password" [feedback]="false"></p-password>
        <label for="password">Password</label>
    </span>
    <br>
    <p-button (click)="login()" label="Login" severity="success" styleClass="p-button-success"></p-button>
</div>
<div *ngIf="isLoggedIn()" class="card">
    <p-multiSelect [options]="sports" optionLabel="name" [(ngModel)]="selectedSports" defaultLabel="Select sports" display="chip"></p-multiSelect>
    <br>
    <br>
    <p-multiSelect [options]="sportsBooks" optionLabel="name" [(ngModel)]="selectedSportsBooks" defaultLabel="Select sportsbooks" display="chip"></p-multiSelect>
    <br>
    <br>
    <p-button *ngIf="!gettingConfig" (click)="setConfig()" label="Set config" severity="success" styleClass="p-button-success"></p-button>
    <i *ngIf="gettingConfig" class="pi pi-spin pi-spinner" style="font-size: 2rem"></i>
    <br>
    <br>
    <input type="text" pInputText [(ngModel)]="inputUrlSegment" />
    <span>&nbsp;</span>
    <p-button (click)="setUrl()" label="Set url" severity="success" styleClass="p-button-success"></p-button>
    <p-toast></p-toast>
</div>
<p-toast></p-toast>