<div class="card">
    <p-tabView [(activeIndex)]="activeIndex">
        <p-tabPanel header="Children">
            <app-opportunity-children *ngIf="activeIndex==0"></app-opportunity-children>
        </p-tabPanel>
        <p-tabPanel header="Factory">
            <app-opportunity-factory *ngIf="activeIndex==1"></app-opportunity-factory>
        </p-tabPanel>
        <p-tabPanel header="Markets">
            <app-opportunity-markets *ngIf="activeIndex==2"></app-opportunity-markets>
        </p-tabPanel>
    </p-tabView>
</div>