<p-progressSpinner *ngIf="loading" ariaLabel="loading"></p-progressSpinner>
<p-table *ngIf="!loading" [value]="opportunityLinks" rowGroupMode="rowspan" groupRowsBy="representative.opportunity_link_id" sortField="representative.opportunity_link_id" sortMode="single"  [tableStyle]="{'min-width': '75rem'}">
    <ng-template pTemplate="header">
        <tr>
            <th></th>
            <th>Sport</th>
            <th>First opportunity</th>
            <th>Second opportunity</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-link>
        <tr>
            <td>
                <p-button (click)="deleteLink(link.parents[0])" [disabled]="deleting" styleClass="p-button-danger">Delete</p-button>
            </td>
            <td>{{ link.sport }}</td>
            <td>{{ link.parents[0].description }}</td>
            <td>{{ link.parents[1].description }}</td>
        </tr>
    </ng-template>
</p-table>
<p-toast></p-toast>