<div class="row flex">
    <div class="col">
        <p-button (click)="endScrape()" [disabled]="disable_buttons()" *ngIf="appRunning()" label="End Scrape" severity="danger" styleClass="p-button-danger"></p-button>
        <p-button (click)="startScrape()" [disabled]="disable_buttons()" *ngIf="!appRunning()" label="Start Scrape" severity="success" styleClass="p-button-success"></p-button>
        <span>&nbsp;</span>
        <span *ngIf="appRunning()">Scraping... &nbsp;<i class="pi pi-spin pi-spinner" style="font-size: 2rem"></i></span>
        <span *ngIf="endingScrape()">Ending scrape...</span>
        <span *ngIf="error">Error, try refreshing page.</span>
    </div>
    <div class="col">
        <p-button (click)="open_configuration()" label="Events"></p-button>
    </div>
    <div class="col">
        <span><strong>Last signal:</strong> {{lastSignal}}</span>
    </div>
</div>
<div class="card" style="height: 80vh;">
    <p-table 
        [value]="opportunities" 
        sortField="match_id" 
        sortMode="single" 
        [scrollable]="true" 
        scrollHeight="flex"
        rowGroupMode="subheader" 
        groupRowsBy="match_id" 
        [tableStyle]="{'min-width': '60rem'}">
        <ng-template pTemplate="header">
            <tr>
                <th>Action</th>
                <th>Name</th>
                <th>Time</th>
                <th>Sport</th>
                <th *ngFor="let id of sportsbook_ids">
                    <img src="{{getSbImageRoute(id)}}" alt="{{id}}" width="50px" height="20px">
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="groupheader" let-opportunity>
            <tr pRowGroupHeader>
                <td>
                    <p-button (click)="open_opportunity_dialog(opportunity)" icon="pi pi-plus" [rounded]="true" severity="success" ></p-button>
                </td>
                <td>
                    {{opportunity.match_name}} 
                </td>
                <td>
                    {{opportunity.time}} 
                </td>
                <td>
                    <img src="{{getSportImageRoute(opportunity.sport_id)}}" alt="{{opportunity.sport_id}}" width="50px" height="20px">
                </td>
                <td *ngFor="let id of sportsbook_ids"></td>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-opportunity let-rowIndex="rowIndex"> 
            <tr>
                <td colspan="4">{{ opportunity.name }}</td>
                <td *ngFor="let id of sportsbook_ids">
                    <ng-container *ngIf="getMatchFromSb(id, opportunity.odds)?.locked; else showOdds">
                        <i class="pi pi-lock"></i>
                    </ng-container>
                    <ng-template #showOdds>
                        <div [ngClass]="getOddClass(id, opportunity.odds)">
                            {{ getMatchFromSb(id, opportunity.odds)?.odd }}
                        </div>
                    </ng-template>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>   
<div *ngIf="showEventDialog">
    <p-dialog 
        header="Events" 
        [modal]="true" 
        [(visible)]="showEventDialog" 
        [style]="{ width: '70%'}" 
        [maximizable]="true">
        <app-event-dialog></app-event-dialog>
    </p-dialog>
</div>
<div *ngIf="showOddDialog">
    <p-dialog 
        [header]="selectedOpportunity.match_name" 
        [modal]="true" 
        [(visible)]="showOddDialog" 
        [style]="{ width: '70%'}" 
        [maximizable]="true">
        <app-opportunity-dialog [event_id]="selectedOpportunity.match_id"></app-opportunity-dialog>
    </p-dialog>
</div>
<p-toast position="bottom-right"></p-toast>