@keyframes colorFadeUp {
    0% {
        color: #66bb6a;
    }
    100% {
        color: inherit;
    }
}

@keyframes colorFadeDown {
    0% {
        color: #ff5252;
    }
    100% {
        color: inherit;
    }
}

.movement-up {
    animation: colorFadeUp 8s forwards;
}

.movement-down {
    animation: colorFadeDown 8s forwards;
}

.stake {
    color: var(--blue-500);
}