<div *ngIf="!isLoggedIn()" class="card">
    Go to login
</div>
<div *ngIf="isLoggedIn()" class="card">
    <p-table [value]="hiddenBets" [resizableColumns]="true" [scrollable]="true" scrollHeight="400px" [tableStyle]="{'min-width': '50rem'}">
        <ng-template pTemplate="header">
            <tr>
                <th></th>
                <th>Sport</th>
                <th>Profit</th>
                <th>Sportsbook</th>
                <th>Player</th>
                <th>Opportunity</th>
                <th>Odd</th>
                <th>Amount</th>
                <th>Updated</th>
            </tr>
        </ng-template>
        
        <ng-template pTemplate="body" let-bet>
            <tr *ngFor="let detail of bet.details; let i = index">
                <td *ngIf="i === 0" [attr.rowspan]="bet.details.length">
                    <p-button (click)="renewBet(bet)" icon="pi pi-check" styleClass="p-button-rounded"></p-button>
                </td>
                <td *ngIf="i === 0" [attr.rowspan]="bet.details.length">{{ bet.sport_name }}</td>
                <td *ngIf="i === 0" [attr.rowspan]="bet.details.length">{{ bet.profit*100 }}</td>
                <td>{{detail.sportsbook_name}}</td>
                <td>{{ detail.player_name }}</td>
                <td>{{ detail.opportunity_name }}</td>
                <td>{{ detail.odd }}</td>
                <td>{{ detail.amount*100 }}</td>
                <td *ngIf="i === 0" [attr.rowspan]="bet.details.length">{{ bet.updated }}</td>
            </tr>
        </ng-template>
    </p-table>

</div>